<!-- 
    Name: Lucas Abeln
    Class: Web Development
    Assignment: WPD4
    Last Modified: 12/6/21
    Desc: Error page html document.
-->

<!DOCTYPE html>
<html>
    <div id="header">
    <head>
        <title>Exerlog</title>
        <link rel="stylesheet" href="/public/style.css" type="text/css">
        <h1 id="title">Exerlog</h1>
    </head>
    <div id="cat">
        <body>
            <div class="login-form">
                <h1 id="input-label">Error, please enter valid password!</h1>
                <button class="back-btn"><a href="/">Back to Main</a></button>
            </div>
        </body> 
    </div>
</html>