<!-- 
    Name: Lucas Abeln
    Class: Web Development
    Assignment: WPD4
    Last Modified: 12/6/21
    Desc: Error page html document.
-->

<!DOCTYPE html>
<html>
    <div id="header">
    <head>
        <title>Exerlog</title>
        <link rel="stylesheet" href="/public/style.css" type="text/css">
        <h1 id="title">Exerlog</h1>
    </head>
    <body>
        <div class="login-form">
            <h1 id="input-label">Error, please enter valid information!</h1>
            <button class="back-btn"><a href="/start">Back to EXERLOG</a></button>
        </div>
    </body> 
</html>