<!-- 
    Name: Lucas Abeln
    Class: Web Development
    Assignment: WPD4
    Last Modified: 12/6/21
    Desc: Login page html document
-->

<!DOCTYPE html>
<html>
    <div id="header">
    <head>
        <title>Champlog</title>
        <link rel="stylesheet" href="/public/style.css" type="text/css">
        <h1 id="title">Champlog</h1>
    </head>
    <body>
        <div class="login-form">
            <form id="login" action="/start" target="_blank" method="POST">
                <label id="input-label" for="username">Full Name:</label>
                <input type="text" id="input" class="inputs" name="username" placeholder="Username">
                <input class="back-btn" type="submit" value="Log In!">
            </form>
        </div>
    </body> 
</html>